<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ABBYY_AppDataConnectionString"
            connectionString="Data Source=10.10.11.112;Initial Catalog=ABBYY_AppData;Persist Security Info=True;User ID=svc-flexicap;Password=svcflex"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>